page-register {
  .error-message
  {
   color: #bf3e3e;
   margin-left: 1em;
  }

  .success-message
  {
    color: green;
  }

  .go-to-login
  {
    text-align: center;
    margin-top: 20px;
  }
  .text-input-md {
    color:white;
  }
  .submit-btn
  {
    border-radius: 6px;
	  font-size: 1.6rem;
    font-weight: 500;
  }

  .colorBlanco{
    color:white;
}
.select-text{
    color:white;
}
.opacoNegro{
    background: black;
    opacity: 0.8;
  }
  .bordesTop{
    border-radius: 15px 15px 0px 0px;
  }
  .bordesBot{
    border-radius: 0px 0px 15px 15px;
  }
  .opaco{
    opacity: 0.8;
  }
  .bordesAll{
    text-align: center;
    border-radius: 15px 15px 15px 15px;
  }

}
